.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0a0000;
}
.index-text {
  color: #fffefe;
  width: 703px;
  height: 176px;
  text-align: center;
  padding-top: 120px;
}
.index-image {
  width: 339px;
  height: 427px;
  object-fit: cover;
  padding-top: var(--dl-space-space-fiveunits);
}
.index-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-link {
  color: #ffffff;
  text-decoration: none;
  background-color: #06b520;
}
.index-link1 {
  color: #ffffff;
  text-decoration: none;
  background-color: #e80293;
}
.index-link2 {
  color: #ffffff;
  text-decoration: none;
  background-color: #d600ff;
}
@media(max-width: 991px) {
  .index-text {
    text-align: center;
  }
  .index-image {
    height: 405px;
    padding-top: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 767px) {
  .index-text {
    color: rgb(255, 254, 254);
    align-self: center;
    text-align: center;
  }
  .index-image {
    height: 418px;
    padding-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 479px) {
  .index-container {
    background-color: #07090a;
  }
  .index-text {
    color: rgb(255, 255, 255);
    height: 109px;
    text-align: center;
    padding-top: 113px;
  }
  .index-image {
    width: 278px;
    height: 436px;
    z-index: 100;
    padding-top: 166px;
    padding-left: 0px;
  }
  .index-container1 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .index-link {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 170, 20);
  }
  .index-link1 {
    color: rgb(255, 255, 255);
    background-color: #ff0091;
  }
  .index-link2 {
    color: rgb(255, 255, 255);
    background-color: #9606ef;
  }
}
